body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Anek Telugu", sans-serif;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.container {
  position: absolute;
  width: 400px;
  left: 0px;
  top: 0px;
  right: 0;
  border: 4px solid black;
  border-radius: 25px;
  margin: 0 auto;
  padding: 0.3em;
}

.top-buttons img {
  max-height: 1.7em;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3em;
  margin-bottom: 0.5em;
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  column-gap: 1.5em;
  height: fit-content;
  margin: 0.4em 0 0;
  position: relative;
}

.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 562px;
  align-items: center;
}

.profile-section img {
  max-height: 562px;
  min-width: 100%;
}

.no-profiles {
  color: red;
  font-weight: bold;
}

.bio-section {
  position: absolute;
  left: 0;
  bottom: 5em;
  color: white;
  padding: 1em;
}

.reject-button,
.like-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 85px;
  height: 85px;
  box-shadow: 0px 10px 20px #e9e9ea;
}

.reject-button:hover,
.like-button:hover {
  background-color: #dbfff4;
}

.like-badge,
.nope-badge {
  position: absolute;
  top: 3.5em;
  left: 0;
  width: 60%;
  transform: rotate(-25deg) scale(0.8);
  display: none;
}

.transition {
  display: inline;
  transition: 200ms;
}
