body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Anek Telugu", sans-serif;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.container {
  position: absolute;
  width: 45vh;
  left: 0px;
  top: 0px;
  right: 0;
  border: 4px solid black;
  border-radius: 25px;
  margin: 0 auto;
  padding-top: 0.3em;
  height: 75vh;
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
}

.top-buttons img {
  max-height: 1.7em;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3em;
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  column-gap: 1.5em;
  position: absolute;
  bottom: 0.7em;
  left: 0;
  right: 0;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.6em;
  height: 77%;
}

.avatar-image {
  height: 100%;
  width: 96%;
}

.no-profiles {
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.5em;
}

.bio-section {
  position: absolute;
  left: 0;
  bottom: 25%;
  color: white;
  padding: 1em;
}

.reject-button,
.like-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 3.8em;
  height: 3.8em;
  box-shadow: 0px 10px 20px #e9e9ea;
}

.reject-button:hover,
.like-button:hover {
  background-color: #dbfff4;
}

.like-badge,
.nope-badge {
  position: absolute;
  top: 4.3em;
  left: 1em;
  width: 50%;
  transform: rotate(-25deg);
  display: none;
}

.display {
  display: inline;
}

.hover:hover {
  cursor: pointer;
}

.avatar-chat {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  object-fit: cover;
}

.chats-section {
  display: flex;
  align-items: center;
  align-self: flex-start;
  column-gap: 0.5em;
  width: 100%;
  margin-bottom: 0.8em;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.chats-section img {
  margin-left: 0.8em;
}

.hidden {
  display: none;
}

.messages-title {
  margin: 0.3em auto 0;
}

.grey {
  color: #64748b;
}

.name-age {
  margin-bottom: 0.5em;
}

@media (max-width: 500px) {
  .profile-section {
    min-height: 70%;
  }
}

@media (max-width: 375px) {
  .profile-section {
    height: 70%;
  }
}
